<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiu.ssobec" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required to register a SyncStatusObserver to display a "syncing..." progress indicator. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >

        <!-- Login Activity -->

        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>

        <!-- Setting Activity -->

        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".Activity.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.LoginActivity" />
        </activity>

        <!-- My Zones Activity -->

        <activity
            android:name=".Activity.MyZonesActivity"
            android:label="@string/title_activity_my_zones" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>

        <!-- Zones Description Activity -->

        <activity
            android:name=".Activity.ZonesDescriptionActivity"
            android:label="@string/title_activity_zones_description"
            android:parentActivityName=".Activity.MyZonesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MyZonesActivity" />
        </activity>

        <!-- Energy Activity -->
        <activity
            android:name=".Activity.EnergyActivity"
            android:label="@string/title_activity_temperature"
            android:parentActivityName=".Activity.ZonesDescriptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiu.ssobec.Activity.ZonesDescriptionActivity" />
        </activity>

        <!-- Stub Authenticator -->
        <service android:name=".Synchronization.DataSync.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Stub provider -->
        <provider
            android:name=".Synchronization.DataSync.StubProvider"
            android:authorities="fiu.ssobec.provider"
            android:exported="false"
            android:syncable="true" />

        <!-- Sync Adapter -->
        <service
            android:name=".Synchronization.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".Activity.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".Activity.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiu.ssobec.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.ConsumptionAppliances"
            android:label="@string/title_activity_consumption_appliances"
            android:parentActivityName=".Activity.ZonesDescriptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiu.ssobec.Activity.ZonesDescriptionActivity" />
        </activity>
        <activity
            android:name=".Activity.ACConsumptionPrediction"
            android:label="@string/title_activity_acconsumption_prediction"
            android:parentActivityName=".Activity.ZonesDescriptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiu.ssobec.Activity.ZonesDescriptionActivity" />
        </activity>
        <activity
            android:name=".Activity.AddZoneActivity"
            android:label="@string/title_activity_add_zone"
            android:parentActivityName=".Activity.MyZonesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiu.ssobec.Activity.MyZonesActivity" />
        </activity>
        <activity
            android:name=".Activity.CreateZoneActivity"
            android:label="@string/title_activity_create_zone"
            android:parentActivityName=".Activity.MyZonesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiu.ssobec.Activity.MyZonesActivity" />
        </activity>
        <activity
            android:name=".Activity.MyRewardsActivity"
            android:label="@string/title_activity_my_rewards"
            android:parentActivityName=".Activity.MyZonesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fiu.ssobec.Activity.MyZonesActivity" />
        </activity>
    </application>

</manifest>
